* {
  font-family: sans-serif;
  text-align: center;
}

h1, h3 {
  color: #333;
}

.land {
  fill: #CCC;
}

.county-boundary {
  fill: none;
  stroke: #444;
  stroke-width: .5px;
}

.state-boundary {
  fill: none;
  stroke: #000;
}

circle {
  fill: red;
  fill-opacity: .8;
}
