* {
  font-family: sans-serif;
  text-align: center;
}

h1, h3 {
  color: #333;
}

.land {
  fill: #CCC;
}

.county-boundary {
  fill: none;
  stroke: #444;
  stroke-width: .5px;
}

.state-boundary {
  fill: none;
  stroke: #000;
}

circle {
  fill-opacity: .8;
  fill: #4d0000;
}

.q0-5 { fill: #f1de36; }
.q1-5 { fill: #ffbf00; }
.q2-5 { fill: #ff8000; }
.q3-5 { fill: #ff4000; }
.q4-5 { fill: #ff0000; }
